include ../../mixin

.page.page-edit-meta
    .page-actions
        a.save.btn.btn-red(href="javascript:;") 保存

    .entity-form.mc-form
        .section
            .section-title 核心
            .row
                +Field("type", "名称")
                    +Select([["Entity", "实体"], ["Component", "组件"]], entityMeta.type || "Entity", "meta-type")
                +Field("name", "名称")
                    input(type="text", value=entityMeta.name)
                +Field("label", "显示名")
                    input(type="text", value=entityMeta.label)
            .row.for-entity
                +Field("noCreate", "禁止新增")
                    input(type="checkbox", checked=entityMeta.noCreate)
                +Field("noEdit", "禁止编辑")
                    input(type="checkbox", checked=entityMeta.noEdit)
                +Field("noDelete", "禁止删除")
                    input(type="checkbox", checked=entityMeta.noDelete)
                +Field("singleton", "单例")
                    input(type="checkbox", checked=entityMeta.singleton)
                +Field("history", "历史记录上限", "0：不保留，-1：无限保留")
                    input(type="text", value=entityMeta.history || 0)

        .section
            .section-title 显示
            .row.for-entity
                +Field("iconField", "图标字段")
                    input(type="text", value=entityMeta.iconField)
                +Field("digestConfig", "摘要配置", "例：icon&name|username")
                    input(type="text", value=entityMeta.digestConfig)
            .row
                +Field("editEnhanceFunc", "编辑增强脚本名")
                    input(type="text", value=entityMeta.editEnhanceFunc)
                +Field("viewEnhanceFunc", "详情增强脚本名")
                    input(type="text", value=entityMeta.viewEnhanceFunc)

        .section.for-entity
            .section-title 存储
            .row
                +Field("db", "数据库类型")
                    - console.log("db: "+entityMeta.db)
                    +Select([["mongodb", "MongoDB"], ["mysql", "MySQL"], ["none", "不使用数据库"]], entityMeta.db)
                +Field("dbName", "数据库名")
                    input(type="text", value=entityMeta.dbName)
                +Field("tableName", "表名")
                    input(type="text", value=entityMeta.tableName)
            .row
                +Field("mongoIndexes", "MongoDB 索引", "", "p100", "no-auto-collect")
                    .field-actions
                        a.add-mongo-index.btn(href="javascript:") 添加
                    table.for-input.fix
                        thead
                            tr
                                th(style="width: 60px;")
                                th(style="width: 120px;") 索引名
                                th(style="width: 200px;") 字段列表
                                th(style="width: 50px;") 唯一
                                th(style="width: 50px;") 稀疏
                                th(style="width: 150px;") 错误消息
                        tbody.mongo-indexes
            .row
                +Field("mysqlIndexes", "MySQL 索引", "", "p100", "no-auto-collect")
                    .field-actions
                        a.add-mysql-index.btn(href="javascript:") 添加
                    table.for-input.fix
                        thead
                            tr
                                th(style="width: 60px;")
                                th(style="width: 120px;") 索引名
                                th(style="width: 200px;") 字段列表
                                th(style="width: 50px;") 唯一
                                th(style="width: 50px;") 类型
                                th(style="width: 150px;") 错误消息
                        tbody.mysql-indexes

        .section
            .section-title 字段
            .field.no-auto-collect
                .field-actions
                    a.add-field.btn(href="javascript:") 添加
                table.fix
                    thead
                        tr
                            th(style="width: 90px;")
                            th(style="width: 160px;") 字段名
                            th(style="width: 120px;") 显示名
                            th(style="width: 80px;") 类型
                            th(style="width: 160px;") 关联实体
                            th.align-center(style="width: 40px;") 多值
                            th.align-center(style="width: 40px;") 快查
                            th.align-center(style="width: 40px;") 列表
                    tbody.fields
