tr(field-name=name, class={"for-entity": JC.SYSTEM_FIELDS.indexOf(name)>=0})
    td.align-center
        a.edit-field.btn(href="javascript:") 编辑
        a.remove-field.btn(href="javascript:") 删除
        a.copy-field.btn(href="javascript:") 复制
    td=name
    td=label
    td=type
    td=refEntity
    td.align-center=multiple?"多":""
    td.align-center
        input.fast-search(type="checkbox" checked=fastSearch)
    td.align-center
        input.show-list(type="checkbox" checked=showInListPage)
        