tr(field-name=name)
    td
        a.edit-field.btn(href="javascript:") 编辑
        a.remove-row.btn(href="javascript:") 删除
    td=name
    td=label
    td=type
    td=refEntity
    td=multiple
    td=fastSearch
