include ../../mixin

mixin FieldAction(actions)
    if actions.add
        a.add.btn.iconfont.icon-add(href="javascript:")
    if actions.edit
        a.edit.btn.iconfont.icon-edit(href="javascript:")
    if actions.empty
        a.empty.btn.iconfont.icon-delete2(href="javascript:")

//- inline block 字段
.section.inline-fields
    each fn in inlineFieldNames
        - var fm = entityMeta.fields[fn]
        - var fv = entityValue[fn]
        .field(field-name=fn, class="w1")
            .label-area
                .label=fm.label
            +FieldInputItem(fm, fv)
            .tip=tip

 //- block 字段
.section.block-fields
    each fn in blockFieldNames
        - var fm = entityMeta.fields[fn]
        - var fv = entityValue[fn]
        - var actions = fieldMetaToActions(fm)
        .row
            .field(field-name=fn, class="wp100", entity-name=entityMeta.name)
                .label-area
                    .label=fm.label
                    .label-actions
                        +FieldAction(actions)
                .tip=tip
                case fm.inputType
                    when "TextArea"
                    when "RichText"
                    when "JSON"
                        if fm.multiple
                            .multiple-input.for-wide
                                - var list = JC.makeSureArray(fv) || []
                                each item in list
                                    +MultipleInputItem(fm, item)
                        else
                            +FieldInputItem(fm, fv)
                    when "CheckList"
                        .check-list
                            if fm.finalOptions
                                if fm.multiple
                                    - var vList = JC.makeSureArray(fv) || []
                                    each o in fm.finalOptions
                                        label
                                            input(type="checkbox", value=o.key checked=(vList.indexOf(o.key) >=0))
                                            span=o.value
                                else
                                    each o in fm.finalOptions
                                        label
                                            input(type="radio", value=o.key checked=(fv===o.key))
                                            span=o.value
                    //- 为了允许清空，File / Image / Reference 一律当做多值的
                    when "File"
                    when "Image"
                    when "Reference"
                        .multiple-input.for-fit
                            - var list = fm.multiple ? (JC.makeSureArray(fv) || []) : [fv]
                            each item in list
                                if item
                                    +MultipleInputItem(fm, item)
                    default
                        //- "Text", "Password", "Select", "Check", "Int", "Float"
                        //- "Date", "Time", "DateTime"
                        .multiple-input
                            - var list = JC.makeSureArray(fv) || []
                            each item in list
                                +MultipleInputItem(fm, item)

//-  "InlineComponent", "PopupComponent", "TabledComponent"
