mixin Field(name, label, tip, width, extraClass)
    - var w = width || 1
    .field(field-name=name, class=(extraClass || "") + " w" + w)
        .label-area
            .label=label
        if block
            block
        .tip=tip

mixin WField(name, label, tip, actions, extraClass)
    .field.w-field(field-name=name, class=(extraClass || "") + " wp100")
        .label-area
            .label=label
            .label-actions
                if actions
                    if actions.add
                        a.add.btn.iconfont.icon-add(href="javascript:")
                    if actions.edit
                        a.edit.btn.iconfont.icon-edit(href="javascript:")
                    if actions.empty
                        a.empty.btn.iconfont.icon-delete2(href="javascript:")
        .tip=tip
        if block
            block

mixin Select(options, value, extraClass)
    select(class=extraClass)
        each o in options
            option(value=o[0], selected=o[0]===value)=o[1]

mixin FieldInputItem(fm, fv)
    .field-input-parent(ft=fm.type, fit=fm.inputType)
        case fm.inputType
            when "Text"
                input(type="text", value=fv)
            when "Password"
                input(type="password", value="")
            when "TextArea"
                textarea=fv
            when "RichText"
                .rich-text-preview
                    .rich-text-preview-acitons
                        a.edit-rich-text(href="javascript:") 编辑
                    .preview-area!=fv
            when "JSON"
                textarea=fv && JSON.stringify(fv, null, 4)
            when "Select"
                select
                    if fm.finalOptions
                        each o in fm.finalOptions
                            option(value=o.key, selected=o.key===fv)=o.value
            when "Check"
                input(type="checkbox", checked=fv)
            when "Int"
                input(type="number", value=fv)
            when "Float"
                input(type="number", value=fv)
            when "Date"
                .date-picker(type="Date")
                    input(type="text", value=JC.formatDate(fv, "YYYY-MM-DD"))
                    a.open-calendar.iconfont.icon-calendar(href="javascript:")
            when "Time"
                .date-picker(type="Time")
                    input(type="text", value=JC.formatDate(fv, "HH:mm:ss"))
                    a.open-calendar.iconfont.icon-calendar(href="javascript:")
            when "DateTime"
                .date-picker(type="DateTime")
                    input(type="text", value=JC.formatDate(fv, "YYYY-MM-DD HH:mm:ss"))
                    a.open-calendar.iconfont.icon-calendar(href="javascript:")
            when "File"
                .file-input.fi-input(value=fv&&JSON.stringify(fv))
                    input.file.hidden(type="file", multiple=fm.multiple)
                    - var title = fv && ((fv.name || "下载") + ("[" + JC.showFileSize(fv.size) + "]")) || "（无）"
                    span.info=JC.fileObjectToInfo(fv)
                    a.download.iconfont.icon-download(href=JC.fileObjectToLink(fv)||"javascript:", target="_blank")
                    a.upload.iconfont.icon-upload(href="javascript:")
            when "Image"
                .image-input.fi-input(value=fv&&JSON.stringify(fv))
                    input.file.hidden(type="file", multiple=fm.multiple)
                    - var src = JC.fileObjectToLink(fv)
                    if src
                        img.preview(src=src)
                    a.upload.iconfont.icon-upload(href="javascript:")
                    .status
            when "Reference"
                if (typeof fv === "string")
                    .ref-item(id=fv)
                        +LoadingRef(fm.refEntity, fv)
                else if fv && fv.id
                    .ref-item(id=fv.id)
                        +EntityDigest(fv.icon, fv.digest, fv.id, fm.refEntity)
            
mixin MultipleInputItem(fm, fv)
    .multiple-input-item
        .move-handle.iconfont.icon-tuodong
        +FieldInputItem(fm, fv)
        a.remove-m-input-item.iconfont.icon-close-c(href="javascript:")
                
mixin EntityDigest(icon, digest, id, entityName)
    a.entity-digest(id=id, href="#!/edit/"+entityName+"/"+id)
        i.iconfont.icon-link
        if icon
            .img-parent
                img.icon(src=icon)
        .digest!=digest

mixin LoadingRef(refEntity, id)
    .loading-ref(entityName=refEntity, id=id)=id

//- 只用于显示一项值，特别对于多值
mixin DisplayFieldItem(fieldMeta, fieldValue)
    if fieldValue === null || fieldValue === undefined
        span
    else if fieldMeta.inputType === "CheckList" || fieldMeta.inputType === "Select"
        - var o = fieldMeta.finalOptions && fieldMeta.finalOptions.find(function(o){ o.key === fieldValue })
        - fieldValue = o ? o.value : fieldValue
        span(title=feldValue)=fieldValue
    else
        case fieldMeta.type
            when 'Object'
            when 'Component'
                span ...
            when 'Float'
                - var dv = fieldValue && fieldValue.toPrecision(3)
                span(title=dv)=dv
            when 'Date'
                - var dv = JC.formatDate(fieldValue, "YY-MM-DD")
                span(title=dv)=dv
            when 'Time'
                - var dv = JC.formatDate(fieldValue, "HH:mm:ss")
                span(title=dv)=dv
            when 'DateTime'
                - var dv = JC.formatDate(fieldValue, "YY-MM-DD HH:mm:ss")
                span(title=dv)=dv
            when 'Boolean'
                if fieldValue === true
                    i.iconfont.icon-correct
            when 'File'
                - var path = JC.fileObjectToLink(fieldValue)
                if path
                    a(href=path, target="_blank") 下载
            when 'Image'
                - var path = JC.fileObjectToLink(fieldValue)
                if path
                    img.resource(src=path)
            when 'Reference'
                if fieldValue
                    a.loading-ref(href=`/#!view/${fieldMeta.refEntity}${fieldValue}`,
                        entityName=fieldMeta.refEntity, id=fieldValue)=JC.digestId(fieldValue)
            default
                span(title=fieldValue)!=fieldValue

mixin ComponentList(entityName, multiple, values)
    table.component-list
        - var listFieldNames = JC.decideListFields(entityName)
        - var entityMeta = JC.getMeta().entities[entityName]
        - var fields = entityMeta.fields
        //- console.log(listFieldNames, fields)
        thead
            th(style="width: 108px;")
            each fn in listFieldNames
                - var fieldMeta = fields[fn]
                th(style=JC.getColumnStyle(fieldMeta))=fieldMeta.label
        tbody
            each item in values
                +ComponentItem(entityName, multiple, item)

mixin ComponentItem(entityName, multiple, itemValue)
    - var storeKey = JC.putByKey(itemValue)
    tr(storeKey=storeKey)
        - var listFieldNames = JC.decideListFields(entityName)
        - var entityMeta = JC.getMeta().entities[entityName]
        td.align-center(style="width: 108px;")
            a.edit.btn(hrer="javascript:") 编辑
            a.remove-row.btn(href="javascript:") 删除
        each fn in listFieldNames
            - var fieldMeta = entityMeta.fields[fn]
            - var fieldValue = itemValue && itemValue[fn]
            td(style=JC.getColumnStyle(fieldMeta))!=JC.displayField(fieldMeta, fieldValue)

mixin CheckList(fm, fv)
    .check-list
        if fm.finalOptions
            if fm.multiple
                - var vList = JC.makeSureArray(fv) || []
                each o in fm.finalOptions
                    label
                        input(type="checkbox", value=o.key, checked=(vList.indexOf(o.key) >=0))
                        span=o.value
            else
                - var id = JC.uniqueId()
                each o in fm.finalOptions
                    label
                        input(type="radio", name=id, value=o.key, checked=(fv===o.key))
                        span=o.value

mixin CriteriaValueItemInput(fm, fv)
    .criteria-value-item-input(ft=fm.type, fit=fm.inputType)
        case fm.type
            when "String"
            when "ObjectId"
                input(type="text", value=fv)
            when "Boolean"
                .yes-no
                    - var id = JC.uniqueId()
                    label
                        input(type="radio", name=id, checked=fv, value="true")
                        | 是
                    label
                        input(type="radio", name=id, checked=!fv, value="")
                        | 否
            when "Int"
                input(type="number", value=fv)
            when "Float"
                input(type="number", value=fv)
            when "Date"
                .date-picker(type="Date")
                    input(type="text", value=JC.formatDate(fv, "YYYY-MM-DD"))
                    a.open-calendar.iconfont.icon-calendar(href="javascript:")
            when "Time"
                .date-picker(type="Time")
                    input(type="text", value=JC.formatDate(fv, "HH:mm:ss"))
                    a.open-calendar.iconfont.icon-calendar(href="javascript:")
            when "DateTime"
                .date-picker(type="DateTime")
                    input(type="text", value=JC.formatDate(fv, "YYYY-MM-DD HH:mm:ss"))
                    a.open-calendar.iconfont.icon-calendar(href="javascript:")
            when "Reference"
                if (typeof fv === "string")
                    .ref-item(id=fv)
                        +LoadingRef(fm.refEntity, fv)
                else if fv && fv.id
                    .ref-item(id=fv.id)
                        +EntityDigest(fv.icon, fv.digest, fv.id, fm.refEntity)

mixin RemovableCriteriaValueItemInput(fm, fv)
    .removable-criteria-value-item-input
        +CriteriaValueItemInput(fm, fv)
        a.remove-cvii.iconfont.icon-close-c(href="javascript:")
